body
{
	font-family: Arial;
	font-size: 12px;
}

#hello_people
{
	font-size:22px;
	width:210px;
}

.big_div
{
	margin:20px;
	padding:10px;
	background-color:#c4c4c4;
	clear:both;
	float:left;
}

#biggest_div
{
	float:left;
	background-color:#999999;
	padding:20px;
	min-width:600px;
}

.nav_node
{
	color:white;
	background-color:black;
	padding:8px;
	width:70px;
	clear: none !important;
	float:left;
	margin-right:10px;
	text-align:center;
	border:1px solid black;
}

.nav_node:hover
{
	cursor:pointer;
	background-color:#999999;
	color:black;
	border:1px solid #545454;
}

#home_nav
{
	height:auto;
}